<div class="hdr_wrap">
  <div class="hdr_container">
    <div class="hdr_logo">
      <h2>PacEater Game</h2>
    </div>
    <!-- <div class="hdr_nav">
      <nav>
        <ul>
          <li>
            <button>Home</button>
          </li>
          <li>
            <button>Fundraiser</button>
          </li>
          <li>
            <button>Explore</button>
          </li>
          <li>
            <button>How it works</button>
          </li>
        </ul>
      </nav>
    </div> -->
    <div class="hdr_utils">
      <nav>
        <ul>
          <li><button>FAQ</button></li>
          <li><button>Account</button></li>
        </ul>
      </nav>
    </div>
  </div>

</div>


<!--
<div class="container">
  <div class="box1">
    <h1>Box 1</h1>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
  </div>
  <div class="box2">
    <h1>Box 2</h1>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
  </div>
  <div class="box3">
    <h1>Box 3</h1>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
  </div>
  <div class="box4">
    <h1>Box 4</h1>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
  </div>
</div>

<div class="container-2">
  <div class="box">
    <h1>Box 1</h1>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
  </div>
  <div class="box">
    <h1>Box 2</h1>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
  </div>
  <div class="box">
    <h1>Box 3</h1>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
  </div>
  <div class="box">
    <h1>Box 4</h1>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
    <p>boxadalfj jsladfja jldsja jdjd djfljofd </p>
  </div>
</div>
-->
