<div class="container">

  <h2>title</h2>
  <p>Pumpkins are blocks that appear on grass blocks, generated in random clusters in most Overworld biomes, though somewhat rarely. Pumpkins have the same texture on all 4 sides. </p>
  <hr/>
  <p>Pumpkins can naturally generate with the terrain in any biome in the Overworld, requiring only a grass block with air above (clear of any plants such as flowers or grass) and can generate whether or not that grass block has a layer of snow cover. Practically speaking, this means that the occurrence of pumpkins in stony or sandy biomes, or in very grassy biomes with few clear grass blocks, is comparatively rare. 
      Pumpkins naturally generate in stem farm rooms in woodland mansions. 
      4 pumpkins generate naturally in woolen tents in pillager outposts. </p>
      <p>>Pumpkins generate naturally in taiga and snowy taiga villages. 
      Carved pumpkins generate in rail rooms in woodland mansions. 
      Carved pumpkins also generate in pillager outposts as a part of targets/scarecrows. 
      Pumpkins can be found in 15.6% of shipwreck supply chests in stacks of 1–3. 
      In Bedrock Edition they can be found in 17.7% of shipwreck supply chests in stacks of 1–3. </p>
</div>