<div class="sb_container">
    <h3>& Codio Home</h3>
    
<hr class="rule"/>
<div class="sb_nav_exp">
  <h5>Explore</h5>
  <nav>
    <ul>
      <li class="active">
        
          <span class="sb_nav_icon">&</span>
          <span>Code</span>
          <span class="sb_nav_stat">400</span>
       
      </li>
      <li>
          <span class="sb_nav_icon">&</span>
          <span>Issues</span>
          <span class="sb_nav_stat">400</span>
      </li>
      <li>
          <span class="sb_nav_icon">&</span>
          <span>Pull Requests</span>
          <span class="sb_nav_stat">400</span>
      </li>
      <li>
          <span class="sb_nav_icon">&</span>
          <span>Projects</span>
          <span class="sb_nav_stat">400</span>
      </li>
      <li>
          <span class="sb_nav_icon">&</span>
          <span>Wiki</span>
          <span class="sb_nav_stat">400</span>
      </li>
      <li>
          <span class="sb_nav_icon">&</span>
          <span class="sb_nav_text">Insights</span>
          <span class="sb_nav_stat">400</span>
      </li>
    </ul>
  </nav>
</div>

<div class="sb_nav_cohm">
    <h5>Codio Home</h5>
    <nav>
      <ul>
        <li>
            
            <span>Feature</span>
            
        </li>
        <li>
            
            <span>Business</span>
            
        </li>
        <li>
            
            <span>Explore</span>
            
        </li>
        <li>
            
            <span>Marketplace</span>
            
        </li>
        <li>
            
            <span>Pricing</span>
            
        </li>
        
      </ul>
    </nav>
</div>

  <div class="sb_nav_auth">
      <h5>Codio Home</h5>
      <nav>
        <ul>
          <li>
              <span>Sign In</span>
          </li>
          <li>
              <span>Register</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>